@model SharingApp.Models.AddPasswordViewModel
@inject IViewLocalizer locaizer


@if (TempData["Success"] != null)
{
    <div class="alert alert-success text-center">
        <strong>@TempData["Success"]</strong>
    </div>
}
<section id="mu-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-contact-area">
                    <!-- Title -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mu-title">
                                <h2>@locaizer["ChangePass"]</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Start Contact Content -->
                    <div>
                        <div class="row">

                            <div class="col-md-12">
                                <div class="mu-contact-form-area">
                                    <div id="form-messages"></div>
                                    <form method="post" asp-action="AddPassword" asp-controller="Account">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-group">
                                            <span class="fa fa-pencil mu-contact-icon"> @locaizer["PassLabel"]</span>
                                            <input type="password" asp-for="Password" class="form-control" placeholder="@locaizer["PassLabel"]" id="Email" required>
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                        <button type="submit" class="mu-send-msg-btn"><span>@locaizer["CofirmBtn"]</span></button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Contact Content -->
                </div>
            </div>
        </div>
    </div>
</section>